<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-itunes-app" content="app-id=979472604">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel="stylesheet" href="/stylesheets/iconfont.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/form.css" />
    <link rel="stylesheet" href="/stylesheets/lists.css" />
  </head>
  <body>
    <div class="view">
      <div class="zui-content">
        <header class="zui-topBar flex-box">
          <div class="icon-box flex-box">
            <i class="iconfont icon-navlist flex"></i>
          </div>
          <form class="zui-topSearch flex">
            <div class="zui-search-box">
              <div class="zui-search">
                <input type="search" placeholder="搜索牛汽配商品/店铺" id="hilight1" />
              </div>
            </div>
          </form>
          <div class="icon-box flex-box">
            <i class="iconfont icon-my flex"></i>
          </div>
        </header>
        
        <section class="scroll-wrap">
          <article>
            <ul class="zui-lists zui-listsBorder">
              <li class="flex-box">
                <div class="img-box flex-center">
                  <div class="img"></div>
                </div>
                <div class="flex">
                  <p>12133</p>
                </div>
                <div class="icon-more flex-center"></div>
              </li>
              <li class="flex-box">
                <div class="img-box">
                  <div class="img"></div>
                </div>
                <div class="flex">
                  <p>12133</p>
                </div>
                <div class="icon-more flex-center"></div>
              </li>
              <li class="flex-box">
                <div class="img-box flex-center">
                  <div class="img"></div>
                </div>
                <div class="flex">
                  <p class="text-overflow">NEW BALANCE（NB）M530AAC 运动鞋 530男女款 休闲情侣复古鞋 缓冲跑步鞋 旅游鞋 US8码41.5码</p>
                </div>
                <div class="icon-more flex-center"></div>
              </li>
              <li class="flex-box">
                <div class="img-box">
                  <div class="img"></div>
                </div>
                <div class="flex">
                  <p>12133</p>
                </div>
                <div class="icon-more flex-center"></div>
              </li>
              <li class="flex-box">
                <div class="img-box">
                  <div class="img"></div>
                </div>
                <div class="flex">
                  <p>12133</p>
                </div>
                <div class="icon-more flex-center"></div>
              </li>
            </ul>
          </article>
          <br>
          <article>
            <ul class="zui-lists">
              <li class="flex-box">
                <div class="img-box flex-center">
                  <div class="img"></div>
                </div>
                <div class="flex zui-listsContent flex-box">
                  <div class="flex">
                    <p>123</p>
                  </div>
                  <div class="icon-more flex-center"></div>
                </div>
              </li>
              <li class="flex-box">
                <div class="img-box flex-center">
                  <div class="img"></div>
                </div>
                <div class="flex zui-listsContent flex-box">
                  <div class="flex">
                    <p>123</p>
                  </div>
                  <div class="icon-more flex-center"></div>
                </div>
              </li>
              <li class="flex-box">
                <div class="img-box flex-center">
                  <div class="img"></div>
                </div>
                <div class="flex zui-listsContent flex-box">
                  <div class="flex">
                    <p>123</p>
                  </div>
                  <div class="icon-more flex-center"></div>
                </div>
              </li>
            </ul>
          </article>

        </section>
        <div class="zui-bottomNav">
          <footer>
            <ul class="zui-navsBox">
              <li class="active">
                <p class="iconfont icon-home"></p>
                <p>主页</p>
              </li>
              <li>
                <p class="iconfont icon-erweima"></p>
                <p>二维码</p>
              </li>
              <li>
                <p class="iconfont icon-set"></p>
                <p>设置</p>
              </li>
              <li>
                <p class="iconfont icon-my"></p>
                <p>我的</p>
              </li>
            </ul>
          </footer>
        </div>
      </div>
    </div>
  </div>
  <script src="/javascripts/zepto.min.js"></script>
  <script src="/javascripts/form.js"></script>
</body>
</html>