<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-itunes-app" content="app-id=979472604">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel="stylesheet" href="/stylesheets/iconfont.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/form.css" />
    <link rel="stylesheet" href="/stylesheets/lists.css" />
</head>

<body>
    <div class="view">
        <div class="zui-content">
            <header class="zui-topBar flex-box">
                <div class="icon-box flex-box">
                    <i class="iconfont icon-back flex ActionBack"></i>
                </div>
                <div class="flex topBarTitle">
                    <p>面板 Panel</p>
                </div>
                <div class="icon-box flex-box">
                    <i class="iconfont icon-my flex"></i>
                </div>
            </header>

            <section class="scroll-wrap">
                <article class="zui-panels">
                    <ul class="zui-lists zui-listsBorder">
                        <li class="zui-panel">
                            <div class="zui-panelHeading active flex-box">
                                <div class="flex flex-box">
                                    <div class="flex">
                                        <p>123</p>
                                    </div>
                                    <span class="arrow flex-center"></span>
                                </div>
                            </div>

                            <div class="panel-collapse">
                                <div class="zui-panelBody">
                                    <div class="form-item">
                                        <div class="form-item item-tips">
                                            <p class="error-msg">会话过期，请刷新页面重试</p>
                                        </div>
                                        <div>
                                            <input type="email" class="input-txt" placeholder="请输入用户名/邮箱/已验证手机" />
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="form-item item-tips">
                                            <p class="success-msg">Success 成功</p>
                                        </div>
                                        <div>
                                            <input type="text" class="input-txt" placeholder="请输入密码" />
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div>
                                            <input type="number" class="input-txt" placeholder="请输入验证码" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="zui-panel">
                            <div class="zui-panelHeading flex-box">
                                <div class="flex flex-box">
                                    <div class="flex">
                                        <p>123</p>
                                    </div>
                                    <div class="arrow flex-center"></div>
                                </div>
                            </div>

                            <div class="panel-collapse">
                                <div class="zui-panelBody">
                                    <div class="form-item">
                                        <div class="form-item item-tips">
                                            <p class="error-msg">会话过期，请刷新页面重试</p>
                                        </div>
                                        <div>
                                            <input type="email" class="input-txt" placeholder="请输入用户名/邮箱/已验证手机" />
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="form-item item-tips">
                                            <p class="success-msg">Success 成功</p>
                                        </div>
                                        <div>
                                            <input type="text" class="input-txt" placeholder="请输入密码" />
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div>
                                            <input type="number" class="input-txt" placeholder="请输入验证码" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="zui-panel">
                            <div class="zui-panelHeading flex-box">
                                <div class="flex flex-box">
                                    <div class="flex">
                                        <p>123</p>
                                    </div>
                                    <div class="arrow flex-center"></div>
                                </div>
                            </div>

                            <div class="panel-collapse">
                                <div class="zui-panelBody">
                                    <div class="form-item">
                                        <div class="form-item item-tips">
                                            <p class="error-msg">会话过期，请刷新页面重试</p>
                                        </div>
                                        <div>
                                            <input type="email" class="input-txt" placeholder="请输入用户名/邮箱/已验证手机" />
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="form-item item-tips">
                                            <p class="success-msg">Success 成功</p>
                                        </div>
                                        <div>
                                            <input type="text" class="input-txt" placeholder="请输入密码" />
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div>
                                            <input type="number" class="input-txt" placeholder="请输入验证码" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </article>


                <article>
                    <div class="zui-panel">
                        <header class="zui-panelHeading flex-box">
                            <div class="h5 flex">Default Panel </div>
                            <i class="iconfont icon-close close"></i>
                        </header>
                        <div class="zui-panelBody">
                            Default Panel
                        </div>
                    </div>

                    <div class="zui-panel zui-primayPanel">
                        <header class="zui-panelHeading flex-box">
                            <p class="h5 flex">Primary Panel</p>
                            <i class="iconfont icon-close close"></i>
                        </header>
                        <div class="zui-panelBody">
                            Primary Panel
                        </div>
                    </div>

                    <div class="zui-panel zui-successPanel">
                        <header class="zui-panelHeading flex-box">
                            <p class="h5 flex"><i class="iconfont icon-good"></i> Info Panel</p>
                            <i class="iconfont icon-close close"></i>
                        </header>
                        <div class="zui-panelBody">
                            Info Panel
                        </div>
                    </div>

                    <div class="zui-panel zui-infoPanel">
                        <header class="zui-panelHeading flex-box">
                            <p class="h5 flex"><i class="iconfont icon-question"></i> Info Panel</p>
                            <i class="iconfont icon-close close"></i>
                        </header>
                        <div class="zui-panelBody">
                            Info Panel
                        </div>
                    </div>

                    <div class="zui-panel zui-warningPanel">
                        <header class="zui-panelHeading flex-box">
                            <p class="h5 flex">Warning Panel</p>
                            <i class="iconfont icon-close close"></i>
                        </header>
                        <div class="zui-panelBody">
                            Warning Panel
                        </div>
                    </div>

                    <div class="zui-panel zui-dangerPanel">
                        <header class="zui-panelHeading flex-box">
                            <p class="h5 flex"><i class="iconfont icon-bad"></i> Danger Panel</p>
                            <i class="iconfont icon-close close"></i>
                        </header>
                        <div class="zui-panelBody">
                            Danger Panel
                        </div>
                    </div>
                </article>
            </section>
            <div class="zui-bottomNav">
                <footer>
                    <ul class="zui-navsBox">
                        <li class="active">
                            <p class="iconfont icon-home"></p>
                            <p>主页</p>
                        </li>
                        <li>
                            <p class="iconfont icon-erweima"></p>
                            <p>二维码</p>
                        </li>
                        <li>
                            <p class="iconfont icon-set"></p>
                            <p>设置</p>
                        </li>
                        <li>
                            <p class="iconfont icon-my"></p>
                            <p>我的</p>
                        </li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
    <script src="/javascripts/zepto.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script>
        $(function () {
            var panelCollapse = $('.zui-panels .panel-collapse');
            var panelCollapseFirst = panelCollapse.eq(0);
            panelCollapse.css({
                'height': '0'
            });
            panelCollapseFirst.css({
                height: panelCollapseFirst.find('.zui-panelBody').height()
            });
            $('.zui-panels .arrow').click(function () {
                var panelHeader = $(this).parents('.zui-panelHeading');
                var panelCollapse = panelHeader.next('.panel-collapse');
                var height = panelCollapse.find('.zui-panelBody').height();
                if (panelCollapse.height() === 0) {
                    panelCollapse.css('height', height);
                } else {
                    panelCollapse.css('height', '0');
                }
                panelHeader.toggleClass('active');
            });
        });
    </script>
</body>

</html>