<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-itunes-app" content="app-id=979472604">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="Expires" content="-1">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Pragma" content="no-cache">
  <!--<script>
	    var dpr, rem, scale;
	    var docEl = document.documentElement;
	    var metaEl = document.querySelector('meta[name="viewport"]');
	
	    dpr = window.devicePixelRatio || 1;
	    
	    function browser(){
				var u = navigator.userAgent;
				return {
					isWeiXin: u.match(/MicroMessenger/),
					mobile: !!u.match(/AppleWebKit.*Mobile.*/),
					ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/),
					android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1
				}
			}
	    var b = browser();
	    if(b.mobile){
	    	rem = docEl.clientWidth * dpr / 10;	
	    }else{
	    	rem = 54;
	    }
	    
	    scale = 1 / dpr;

	    // 设置viewport，进行缩放，达到高清效果
	    metaEl.setAttribute('content', 'width=device-width, initial-scale=' + scale + ',maximum-scale=' + scale + ', minimum-scale=' + scale + ',user-scalable=no');
	
	    // 设置data-dpr属性，留作的css hack之用
	    docEl.setAttribute('data-dpr', dpr);
	    docEl.style.fontSize = rem +'px';
	  </script>-->
  <link rel='stylesheet' href='/stylesheets/normalize.css' />
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel='stylesheet' href='/stylesheets/header.css' />
  <link rel='stylesheet' href='/stylesheets/nav.css' />
  <link rel="stylesheet" href="/stylesheets/iconfont.css" />
  <link rel="stylesheet" href="/stylesheets/segment.css" />
  <link rel="stylesheet" href="/stylesheets/form.css" />
</head>

<body>
  <div class="view">
    <div class="zui-content">
      <header class="zui-topBar flex-box">
        <div class="icon-box flex-box">
          <i class="iconfont icon-back flex ActionBack"></i>
        </div>

        <div class="flex topBarTitle">
          <p>表单 Form</p>
        </div>

        <div class="icon-box flex-box">
          <i class="iconfont icon-my flex"></i>
        </div>
      </header>

      <section class="scroll-wrap">
        <section class="zui-segment">
          <ul class="zui-segmentLists">
            <li class="active">label1</li>
            <li>label2</li>
          </ul>
        </section>

        <section class="zui-segment">
          <ul class="zui-segmentLists">
            <li>label1</li>
            <li class="active">label2</li>
            <li>label3</li>
          </ul>
        </section>

        <section class="zui-segment">
          <ul class="zui-segmentLists">
            <li class="active">label1</li>
            <li>label2</li>
            <li>label3</li>
            <li class="active">label4</li>
          </ul>
        </section>
      </section>

      <div class="zui-bottomNav">
        <footer>
          <ul class="zui-navsBox">
            <li class="active">
              <p class="iconfont icon-home"></p>
              <p>主页</p>
            </li>
            <li>
              <p class="iconfont icon-erweima"></p>
              <p>二维码</p>
            </li>
            <li>
              <p class="iconfont icon-set"></p>
              <p>设置</p>
            </li>
            <li>
              <p class="iconfont icon-my"></p>
              <p>我的</p>
            </li>
          </ul>
        </footer>
      </div>
    </div>
  </div>
  <script src="/javascripts/zepto.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <script>
    $('.zui-siwtchFormCtrol').tap(function () {
      $('.zui-siwtch').toggleClass('zui-siwtchActive')
    });
  </script>
</body>

</html>