.input-txt{
  border: 1px solid #e5e6e7;
  background-color: #fff;
  background-image: none;
  font-size: 16px;
  height: 40px;
  padding: 0 15px;
  width: 100%;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  -moz-appearance: textfield;
}

/*.form-select{
  border: 1px solid #e5e6e7;
  width: 100%;
  background: #fff;
}*/

.button{
  padding:6px 8px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #e7eaec;
  vertical-align: middle;
  background-color: #fff;
  color: rgb(103,106,108);
}

.button-block{
  width: 100%;
  line-height: 28px;
  font-size: 16px;
}

.button-disabled{
  background-color: #e2e2e2;
  color: #bdbdbd;
}

.button-login{
  background-color: #1ab394;
  border-color: #1ab394;
  color: #fff;
}




/* checkbox radio */
.zui-checkbox{
  position: relative;
}
.zui-checkboxIconBox, .zui-radioIconBox{
  height: 100%;
  position: relative;
}
.check-helper, .radio-helper{
  text-decoration: blink;
}
.check-helper:after, .radio-helper:after{
  font-family: 'ios';
  color: #ccc;
  font-size: 22px;
}
.check-helper:after{
  content: '\e602';
}

.radio-helper:after{
  content: '\e625';
}

.zui-checkbox input[type="checkbox"],.zui-radio input[type="radio"]{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.zui-checkbox .check-label, .zui-radio .check-label{
  position: relative;
  top: -2px;
}


.zui-checkbox input[type="checkbox"]:checked + .check-helper:after{
  content: '\e601';
  color: green;
}
.zui-radio input[type="radio"]:checked + .radio-helper:after{
  content: '\e600';
  color: green;
}

/* siwtch 开关 */
.zui-siwtch {
  font-size: 13px;
  height: 30px;
  position: relative;
  background-color: #fff;
  border-radius: 102px;
  border: 2px solid #ddd;
  width: 74px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.zui-siwtch:before {
  content: 'OFF';
  position: absolute;
  top: 3px;
  right: 11px;
  color: #999;
}

.zui-siwtchActive {
  background-color: #4bd262;
  border: 2px solid rgba(0, 0, 0, 0);
}

.zui-siwtchActive:before {
  right: auto;
  left: 11px;
  content: 'ON';
  color: #fff;
}

.zui-siwtch input[type="checkbox"] {
  display: block;    /*  opacity: 0;*/
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.zui-siwtchControl {
  position: absolute;
  left: -1px;
  top: 0px;
  width: 26px;
  height: 26px;
  border-radius: 100% 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
  background-color: #fff;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.zui-siwtchActive .zui-siwtchControl {
  -ms-transform: translateX(45px);
  -webkit-transform: translateX(45px);
  transform: translateX(45px);
}

/* dialog 对话框 */
.mask {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

.hot-search {
}

.hot-search .header {
  color: #999;
}

/* label */
.zui-labelBox {
  overflow: hidden;
  margin: .6em 0;
}

.zui-labelBox li {
  float: left;
  margin: 0.2em;
}

.zui-labelBox a {
  display: block;
  border: 1px solid #ccc;
  padding: 0.2em 0.6em;
  font-size: 12px;
  color: #999;
}

/* form group */
.form-item{
  margin-bottom: 10px;
}

.form-item .item-tips{
  font-size: 13px;
}

.item-tips .error-msg{
  color: #ed5565;
}
.item-tips .success-msg{
  color: #1ab394;
}